<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置生产者对象-->
    <bean id="defaultMQProducer" class="org.apache.rocketmq.client.producer.DefaultMQProducer" init-method="start"
          destroy-method="shutdown">
        <!--配置生产者组-->
        <property name="producerGroup" value="producer_user_service_group"></property>
        <!--nameserv地址-->
        <property name="namesrvAddr" value="192.168.25.129"></property>
    </bean>
</beans>